@import url(https://fonts.googleapis.com/css?family=Raleway);
/* ------------INDEX------------*/
body {
  margin: 0;
  font-family: sans-serif;
  border: solid 10px rgba(176, 56, 78, 0.9);
  border-radius: 2px;
  font-family: 'Raleway', sans-serif;
}

#header {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  height: 70px;
}

.item {
  margin: 10px;
  width: 200px;
  border: solid 1px dimgrey;
  border-radius: 5%;
  text-align: center;
  background-color: #4F8A9E;
}

.item a {
  padding: 5px;
  color: darkslategrey;
  font-family: sans-serif;
  text-decoration: none;
}

.item a:hover {
  color: lightslategrey;
}

#therese {
  margin: 10px 30px 10px 30px;
  width: 150px;
  height: 50px;
  background-image: url('../images/therese.png');
  background-repeat: no-repeat;
  background-size: contain;
}

#main {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 15vw;
  margin-right: 15vw;
  padding: 30px;
  min-height: calc(100vh - 204px);
  background-color: rgba(176, 56, 78, 0.9);
  border-radius: 2px;
}

#footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 70px;
}

#footer a {
  color: black;
}

#footer a:hover {
  color: rgba(176, 56, 78, 0.9);
}

i {
  margin: 5px;
}

/* -----ABOUT----- */
#aboutContainer {
  margin-left: 10%;
  margin-right: 10%;
}

/* ----MAIN---- */
#me {
  height: 285px;
  width: 260px;
  border-radius: 50%;
  background-image: url("/images/looking_up.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#me:hover {
  background-image: url("/images/looking_down.jpg");
}

#mainContainer {
  margin-left: 10%;
  margin-right: 10%;
}

.mainHello {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 5vh;
}

.mainHello h1 {
  font-size: 10vw;
  margin-left: 5vw;
  line-height: 10vh;
}

/* ----CV----*/
#huvud {
  position: absolute;
  top: 100px;
  left: 300px;
  height: 100px;
  width: 100px;
  background-color: white;
  border-radius: 50%;
}

#vänsterÖga {
  position: absolute;
  top: 130px;
  left: 338px;
  width: 7px;
  height: 15px;
  background-color: black;
  border-radius: 3.5px;
}

#högerÖga {
  position: absolute;
  top: 130px;
  left: 355px;
  width: 7px;
  height: 15px;
  background-color: black;
  border-radius: 3.5px;
}

#mun {
  position: absolute;
  top: 160px;
  left: 335px;
  width: 30px;
  height: 20px;
  background-color: black;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

#kropp {
  position: absolute;
  width: 20px;
  height: 200px;
  top: 190px;
  left: 340px;
  background-color: white;
}

#överarm {
  position: absolute;
  width: 200px;
  height: 20px;
  top: 220px;
  left: 250px;
  background-color: white;
}

#vänsterUnder {
  position: absolute;
  width: 20px;
  height: 80px;
  top: 157px;
  left: 246px;
  background-color: white;
  border-radius: 10px;
  transform: rotateZ(100deg);
  transform-origin: bottom;
  animation: vinka 2s infinite;
  animation-direction: alternate;
}

@keyframes vinka {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform-origin: bottom;
    transform: rotateZ(-60deg);
  }
}

#högerUnder {
  position: absolute;
  width: 20px;
  height: 80px;
  top: 215px;
  left: 455px;
  background-color: white;
  border-radius: 10px;
  transform: rotate(-40deg);
}

#vänsterBen {
  position: absolute;
  width: 20px;
  height: 150px;
  top: 390px;
  left: 340px;
  background-color: white;
  border-radius: 10px;
  transform-origin: top;
  transform: rotate(45deg);  
}

#högerBen {
  position: absolute;
  width: 20px;
  height: 150px;
  top: 390px;
  left: 340px;
  background-color: white;
  border-radius: 10px;
  transform-origin: top;
  transform: rotate(-45deg);  
}
