html {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: #DDDDDD;
  color: #333333;
}

.info {
  text-align: center;
  font-size: 2rem;
}

.content {
  margin: 2em 1rem;
  border: 5px solid #BBBBBB;
  border-radius: 5px;
  padding: 2em;
  max-width: 560px;
  font-size: 1em;
  text-align: center;
}

@media (min-width: 590px) {
  .content {
    margin: 0 auto;
  }
}

.link {
  text-decoration: none;
  color: #fe346e;
}

.link:hover {
  color: inherit;
}
