<div id="aboutContainer">
  <h3>I live in Sweden</h3>
  <p>My hometown is Linköping. This is where I grew up, learned how to ride a bike, got my first crush, had brawls with family and friends and so on.</p>

  <p>My name is Therése and I am a programmer. Programmer is a word that contains a massive amount of choices and paths to make and take. I have not chosen a straight path yet. I graduated with a Bachelor's degree in Media Technology at Linköping's university this last spring. This fall I am starting my development career at ComHem via Academic Work. I am really excited and look forward to learning a massive amount of new things.</p>
</div>
