<div id="mainContainer">
  <div class="mainHello">
    <div id="me"></div>
    <h1>Hello!</h1>
  </div>
  <p>
    My name is Therése as you might have guessed by now. I am living in Stockholm, Sweden, working as a full stack junior developer at Com Hem. I graduated with a Bachelor of Technology spring 2015 from Linköping's university.
  </p>
  <p>
    This is my attempt at creating my own little space in this enormous world of technology. I feel like I still have not found my place in this world but perhaps that will take a few years, or a lifetime. Who knows really?
  </p>
  <p>
    My plan is to give a full presentation of me, but we will see how far the ambition goes. And also, if I decide to build this page with another framework or langugage and have to scrap all and start from the beginning again. 
  </p>
  <p>
    I am reachable at some social media sites. The links are below. I hope to hear from you. Bye for now!
  </p>
</div>
